body {
  background-color: #fff;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.number-btn {
  font-family: "Varela Round", sans-serif;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  outline: none;
  border: none;
  font-size: 36px;
  background-color: #f6f6f6;
  color: #000;
  line-height: 90px;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.number-btn:hover {
  background-color: rgba(197, 194, 194, 0.63);
}

.zero-btn {
  font-family: "Varela Round", sans-serif;
  height: 90px;
  width: 200px;
  border-radius: 90px;
  outline: none;
  border: none;
  font-size: 36px;
  background-color: #f6f6f6;
  color: #000;
  line-height: 90px;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease;
  text-align: left;
  padding-left: 31.5px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

.zero-btn:hover {
  background-color: rgba(197, 194, 194, 0.63);
}

.operation-btn,
.sign-btn,
.clear-btn {
  font-family: "Varela Round", sans-serif;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  outline: none;
  border: none;
  font-size: 36px;
  background-color: #e8eaf7;
  color: #000;
  line-height: 90px;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.operation-btn:hover,
.sign-btn:hover,
.clear-btn:hover {
  background-color: rgba(203, 209, 241, 0.753);
}

.equal-btn {
  font-family: "Varela Round", sans-serif;
  height: 90px;
  width: 90px;
  border-radius: 100%;
  outline: none;
  border: none;
  font-size: 36px;
  background-color: #2a62fe;
  color: #000;
  line-height: 90px;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease;
  transition: background-color 0.2s ease, color 0.2s ease;
  color: #FFF;
}

.equal-btn:hover {
  background-color: rgba(7, 73, 255, 0.726);
}

.grid-container {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: 90px 90px 90px 90px;
      grid-template-columns: 90px 90px 90px 90px;
  -ms-grid-rows: 90px 90px 90px 90px;
      grid-template-rows: 90px 90px 90px 90px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.calculator {
  background-color: #fff;
  margin: 0 auto;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.095);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.095);
  margin-top: 30px;
  padding: 20px;
  border-radius: 2%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

#display {
  font-family: "Varela Round", sans-serif;
  height: 150px;
  width: 100%;
  text-align: right;
  font-size: 70px;
  line-height: 150px;
  color: #000;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

/* Hide default HTML checkbox */
.switch {
  float: left;
  position: relative;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(226, 224, 224, 0.795);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgba(14, 108, 184, 0.548);
}

input:focus + .slider {
  -webkit-box-shadow: 0 0 1px rgba(14, 108, 184, 0.548);
          box-shadow: 0 0 1px rgba(14, 108, 184, 0.548);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */